// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #272D35;
$dark-page : #1C2427;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$light-green    : #1ED5A7;

// Light Theme overrides
$bg         : #FFFFFF;
$gray-light : #AAA9AA;
$text-custom-dark  : #272727;
$highlight  : #E8E8E8;
$gray-dark  : #868686;
$text-light  : #FFFFFF80;
$bg-primary  : #F8FFFD;
$text-secondary  : #1B1E28;

// Dark Theme overrides
$dark-bg         : #1C2427;
$dark-gray-light : #FFFFFF;
$text-light      : #A0A8B2;
$highlight-dark  : #464646;
$gray-dark-light  : #A0A8B2;
$text-dark  : #272D3580;
$dark-bg-primary  : #272D35;
$dark-text-secondary  : #FFFFFF;
